.star-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(31, 31, 31,0.7);
    overflow: hidden;
  }
  
  .star-background::before,
  .star-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../public/assets/img/galaxy.jpg') repeat;
    opacity: 0.2; /* Adjust opacity as needed */
    animation: move-stars 20s linear infinite;
  }
  
  .star-background::after {
    animation-delay: -10s; /* Delay for second layer */
  }
  
  @keyframes move-stars {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
  }

.heading{
    text-transform: uppercase;
    font-family: verdana;
    font-size: 8em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

@media (max-width: 600px) {
  .heading {
    padding-bottom: 50px;
  }
}

@media (max-width: 320px) {
  .heading {
    padding-bottom: 50px;
    font-size: 5em;
  }
}
@media (max-width: 375px) {
  .heading {
    padding-bottom: 50px;
    font-size: 8em;
  }
}

